<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" id="sidebar-author">
      <li role="presentation"><%=link_to 'Author', author_path %></li>
      <li role="presentation"><%=link_to 'Book', book_path %></li>
      <li role="presentation"><%=link_to 'Contact', contact_path %></li>
    </ul>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>About</h1>
      </div>
        <img class="media-object" id="about-pic" src="http://lorempixel.com/200/200"/>
        <p>
          Dating can be exhausting! Especially when you have a moral compass in a world that seems to have lost it's own.

Combine that with not getting your first relationship till you are 34 and suddenly, you can feel like a fish out of water!

This real life romantic dramedy is one man's collection of bad dates and failed relationships that were all just a step away from being... but were not quite, love.

From being cheated on, to being called unattractive, from fighting off the temptation to go too far, to connecting on all levels with someone except romantically and worst of all, never escaping the dreaded "friend zone"!

Join one man's quest to see if there really is "someone for everyone" and if so, will he ever find her?
        </p>
    
  
      </div>
    </div>