<div class="container">
	<div class="page-header">
	  <h1>Contact<small></small></h1>
	</div>
  <p>You can contact me at <%=mail_to("notquitelovebook@gmail.com") %> for any inquiries or questions about the book. </p>
</div>