<!DOCTYPE html>
<html>


		<!-- The content of your page would go here. -->

		<footer class="footer-basic-centered">

			<p class="footer-company-motto">Not Quite Love</p>

			<p class="footer-links">
				<a href="#author" class="js--scroll-to-author">Author</a>
				·
				<a href="#contact" class="js--scroll-to-contact">Contact</a>
				·
				<a href="#news" class="js--scroll-to-book">Book</a>
				·
				<a href="#news" class="js--scroll-to-fan-pics">News</a>
			</p>
			 <p class="footer-links" id="social">
                <a href="https://www.facebook.com/ryanonstadauthor/?fref=ts"><i class="ion-social-facebook"></i></a>
                <a href="https://twitter.com/authoronstad"><i class="ion-social-twitter"></i></a>
            </p>

			<p class="footer-company-name">Not Quite Love by Ryan Onstad &copy; 2016</p>

		</footer>

	</body>

</html>
