<div class = "footer" id="main-footer">
  <div class = "container">

        <center>
          <div class = "row">
          <div class="container">
                        <div class = "col-md-4">
                <h4>About Me</h4>
                  <p>I'm Ryan Onstad and I'm the author of the book Not Quite Love</p>
            </div>
            <div class = "col-md-4">
                <h4>Contact</h4>
                  <p>Join my email list for weekly tips and free offers</p>
            </div>
            <div class = "col-md-4" id="footer-content">
                <h4>Social</h4>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-youtube fa-2x"></i>
                    </a>
            </div>
            </div>
          </div>
        </center>
      </div>
    </div>
  </div>