<div class = "well" id = "newsletter_well">
                <% form_for @email_list do |f| %>
                <h3 id = "newsletter-title">Want the latest news?</h3>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="text" class="form-control" placeholder="Enter email here">
                </div>
                <% end %>