<div class="section-list-subscribers">
<h2>Mailing List Subscribers</h2>

<div class="row">
	<center>
		<ul class="subscription-list">
		<% @subscriptions.each do |subscription| %>
			<li><%= subscription.name %> - <%= subscription.email %></li>
			<br>

			<% end %>
			<%= will_paginate %>
		</ul>
	</center>

</div>
</div>

