<h1>Not Quite Love</h1>

<p>Hi <%= @subscription.name %>,</p>

<p>
Welcome to Not Quite Love! Thanks for subscribing! I appreciate the support. From time to time I will send you news and updates on all the news related to my book, myself, and any future discounts. Thanks again!

<p>To unsubscribe to this list click on the link below</p>

<%= link_to "unsubscribe", "www.notquitelove.com/#{unsubscribe_subscription_path(@subscription.id)}" %>