/* For Dev purposes only */

/*.container {
  border: 1px solid black;
}
*/
/*.row {
  border: 1px solid black;
}*/

/*
.col-md-2, .col-md-8 {
  border: 1px solid black;
}
*/

/*.container {
  border: 1px solid white;
}*/

/*.row {
  border: 1px solid white;
}

.col-sm-8 .col-sm-4 .col-md-8 .col-md-4 {
  border: 1px solid white;
}*/

/* deactivated links and stuff */
li#news a {
  display: none;
}

/* buy buttons */

#barnes-button {
  background-color: #4b8b57;
}

#barnes-button a {
  color: white !important;
}

#amazon-button {
  background-color: #f0c14b;
}

#amazon-button a {
  color: #111 !important;
}

#lulu-button {
  background-color: #5f7495;
}

#lulu-button a {
  color: #ffd56d !important;
}

#book-cover {
  margin-right: 20px;
  display: inline-block;
}

.home-content {
  color: white;
  display: block;
}



.home-body {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background: none;
  background-color: rgba(0,0,0,0.5);
}

#full {
  background: url(housewoods2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.author-page {
  background: url(lightgray.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.contact-page {
  background: url(lightgray.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*universal*/


 img {

 display: inline-block;

 height: auto;

 max-width: 100%;

 }

a {
  color: #444 !important;
}


.home-title {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}





p {
  text-align: left;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
}

.home-paragraph {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#title-jumbo {
	background-color: white;
}

h1, h2, h3, h4, .index-author {
  font-family: 'Rochester', cursive !important;
  font-weight: bold;
}

.jumbotron {
    background: #000 url("lightgray.png") center top;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 70% 31%;
}

/* sidebar shit */


#sidebar-nav {
	padding-top: 50px;
}

ul#sidebar-author {
	margin-top: 30px;
}

/*#newsletter_well {
	margin-top: 120px;
}*/

.author-pic {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.jumbo-title {
color: white;
}

.index-author {
  color: white;
}

#book-container {
  float: left;
}

#about-pic, #book-pic {
  float: left;
  margin-right: 10px;
}

/* profile page */

.profile-posts, .comment-posts {
  list-style: none;
}

.gravatar {
  margin-right: 10px;
}

/* footer shit */

.divider {
  height: 50px;
}

.footer {
  padding: 20px;
  color: #999;
  background-color: white;
}


a.btn.btn-social-icon.btn-twitter {
  color: #999;
  text-decoration: none;
  border: 1px solid #999;
}

button.btn.btn-default {
  border-color: #999;
  background-color: white;
  color: #999;
}

/*media queries */


@media (max-width: 646px) {
  .jumbotron {
    display: none;
  }
}

@media (max-width: 991px) {
  #sidebar-nav {
    display: none;
  }
}

@media (max-width: 991px) {
  #newsletter_well {
    display: none;
 }
}

@media (max-width: 525px) {
  #book-cover {
     display: block;
     margin-right: auto; 
     margin-left:auto;
 }
}

@media (max-width: 525px) {
  .button-wrapper {
    text-align: center;
    padding-top: 10px;
 }
}

@media (max-width: 525px) {
  .sale-title {
     display: none;
 }
}

@media (min-width: 525px) {
  .sale-title-mobile {
     display: none;
 }
}

@media (max-width: 991px) {
  .home-title {
     font-size: 30px;
 }
}

/*iphone 6 */


@media (max-width: 400px) {
  .button-wrapper {
     margin-bottom: 20px;
 }
 .home-title {
  margin-right: auto;
  margin-left: auto;
 }
}

/* iphone 6 end */