
/*universal*/

/*
.container {
  border: 1px solid black;
}

.row {
  border: 1px solid black;
}
*/

/*.col-md-2, .col-md-8 {
  border: 1px solid black;
}
*/

/*media queries */


@media (max-width: 646px) {
  .jumbotron {
    display: none;
  }
}

@media (max-width: 991px) {
  #sidebar-nav {
    display: none;
  }
}

@media (max-width: 991px) {
  #newsletter_well {
    display: none;
 }
}



p {
  text-align: left;
}

/*.container {
  border: 1px solid white;
}*/

/*.row {
  border: 1px solid white;
}

.col {
  border: 1px solid white;
}*/

#title-jumbo {
	background-color: white;
}

h1, h2, h3, h4, .index-author {
  font-family: 'Rochester', cursive !important;
}

.jumbotron {
    background: #000 url("NQL.jpeg") center top;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 70% 31%;
}

/* sidebar shit */


#sidebar-nav {
	padding-top: 50px;
}

ul#sidebar-author {
	margin-top: 30px;
}

/*#newsletter_well {
	margin-top: 120px;
}*/

.author-pic {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.jumbo-title {
color: white;
}

.index-author {
  color: white;
}

#book-container {
  float: left;
}

#about-pic, #book-pic {
  float: left;
  margin-right: 10px;
}

/* profile page */

.profile-posts {
  list-style: none;
}

.gravatar {
  margin-right: 10px;
}

/* footer shit */

.divider {
  height: 50px;
}

.footer {
  padding: 20px;
  color: white;
  background-color: black;
}


